/*通用样式*/
*{
    padding:0;
    margin:0;
}
/*去掉默认样式*/
li{list-style:none;}
a{text-decoration: none;}

/*box布局*/
#box{
    margin:10px auto 20px;
    width:290px;
    /*overflow: auto;*/
    border:1px solid #ccc;
    box-shadow: 0 0 6px #666;
    border-radius:4px;
}

/*li布局 -40px高*/
.licls{

}

/*h4*/
.h4cls{
    height:40px;
    line-height:40px;
    padding-left:20px;
    /* background: url("ico1.gif") no-repeat 8px  center; */
    cursor:pointer;
    display: inline-block;
}
/* .active{
    height:40px;
    line-height:40px;
    padding-left:30px;
    cursor:pointer;
    background: url("ico2.gif") no-repeat 8px  center;
} */

/* h4前面的小图片 */
.h4bj{
    margin-right:16px;
}

/*ul2*/
.ul2cls{
    text-indent: 24px;
    cursor:pointer;
    display: none;
}
.show{
    display: block;
}
.ul2cls li{
    padding-bottom:4px;
    border-top:1px dotted #ccc;
    /*background: url("logo.png") no-repeat 12px center;*/
    border-radius:2px;
    background: #fff;
}
 .ul2cls li.show1{background-color: rgb(102, 102, 102);}
 .ul2cls li.show2{background-color: #ccc;}
 .ul2cls li.show3{background-color: #fff;}


.imgcls{
    vertical-align: middle;
    padding-right:8px;
    position: relative;
}
.imgbox{
    width:200px;
    height:100px;
    border:2px solid #ccc;
    border-radius:2px;
    box-shadow:0 0 5px #ccc;
    background: url(../img/imgdiv.png) no-repeat  center;
    display: none;
    position: absolute;
}

.lastli{
    border-bottom:1px dotted #ccc;
}